---
import { getUniqueCategories } from '@/shared/hooks/get-unique-categories';
import Badge from '@/shared/ui/base/badge.astro';

const categories = await getUniqueCategories('howtos');

if (categories.length === 0) {
  return null;
}
---

<div class='categories-wrapper'>
  {
    categories.map(category => {
      return (
        <a
          title={category}
          href={`/howto/${category}/`}
          class='category-link'>
          <Badge>{category}</Badge>
        </a>
      );
    })
  }
</div>

<style>
  .categories-wrapper {
    margin-top: 2.5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--card));
    padding: 1.5rem;
    color: hsl(var(--card-foreground));
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  .category-link {
    color: #3b82f6;
    text-decoration: none;
  }

  .category-link:hover {
    text-decoration: underline;
  }

  .category-link.active {
    pointer-events: none;
    cursor: none;
    color: white;
  }
</style>
