---
import type { CollectionEntry } from 'astro:content';

import HowtoCard from './ui/howto-card.astro';

type Props = {
  howtos: CollectionEntry<'howtos'>[];
  className?: string;
};

const { howtos = [], className = '' } = Astro.props;

const firstNineHowtos = howtos.slice(0, 9);
const remainingHowtos = howtos.slice(9);
---

<section class='howtos-section'>
  <div class={`howtos container-center ${className}`}>
    {firstNineHowtos.map(howto => <HowtoCard howto={howto} />)}
  </div>

  {
    remainingHowtos.length > 0 && (
      <div class={`howtos container-center second-batch-howtos ${className}`}>
        {remainingHowtos.map(howto => (
          <HowtoCard howto={howto} />
        ))}
      </div>
    )
  }
</section>
<style>
  .howtos {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.25rem;
    border-radius: 0.5rem;
  }
  .second-batch-howtos {
    margin-top: 1.5rem;
  }
</style>
